<h1>Repro</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>Direct use of strings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list cdkDropList (cdkDropListDropped)="dropWord($event)">
      <mat-list-item *ngFor="let word of words" cdkDrag>{{word}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Displayed words (does not work)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list cdkDropList (cdkDropListDropped)="dropWord($event)">
      <mat-list-item *ngFor="let displayedWord of displayedWords()" cdkDrag>{{displayedWord.word}} {{displayedWord.lettersSoFar}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Displayed words using member variable</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list cdkDropList (cdkDropListDropped)="dropWord($event)">
      <mat-list-item *ngFor="let displayedWord of displayed" cdkDrag>{{displayedWord.word}} {{displayedWord.lettersSoFar}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
